.btn1{
  margin-left: 3px;
  margin-right: 3px;
}
.btn2{
  margin-left: 3px;
  margin-right: 3px;
}
.btn3{
  margin-left: 3px;
  margin-right: 3px;
}
.btn4{
  margin-left: 3px;
  margin-right: 3px;
}
.btn5{
  margin-left: 3px;
  margin-right: 3px;
}
.btn6{
  margin-left: 3px;
  margin-right: 3px;
}
#health{
  margin-right: 10px;
}
#hits{
  margin-left: 10px;
}
#insult{
color:rgb(1, 45, 240);
text-shadow: 1px 1px black;
text-align: center;
}
.progress{
  width: 75%;
}
.progress-bar{
  width: 75%;
}
#progress-number{
  width: 100;
}
.bg-img{
background-size: contain;
height: 1000px;
}