.btn1{
  margin-left: 3px;
  margin-right: 3px;
}
.btn2{
  margin-left: 3px;
  margin-right: 3px;
}
.btn3{
  margin-left: 3px;
  margin-right: 3px;
}
.btn4{
  margin-left: 3px;
  margin-right: 3px;
}
.btn5{
  margin-left: 3px;
  margin-right: 3px;
}
.btn6{
  margin-left: 3px;
  margin-right: 3px;
}
#health{
  margin-right: 10px;
}
#hits{
  margin-left: 10px;
}
#lucy-health{
  margin-right: 10px;
}
#lucy-hits{
  margin-left: 10px;
}

.progress{
  width: 75%;
}
.progress-bar{
  width: 75%;
}
#progress-number{
  width: 100;
}
.bg-img{
background-size: contain;
height: 1000px;
}